<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="activitytest.example.com.log_moudle">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name="activitytest.example.com.login_module.MainActivity"/>
    </application>

</manifest>

