<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="activitytest.example.com.friend_module">

    <application>
        <activity
            android:name="activitytest.example.com.label_module.MainActivity"
            android:exported="true" />
    </application>

</manifest>